<!DOCTYPE html>
<html>
<head>
  <title>MerryMachine | Positive Site</title>
  <link rel="stylesheet" type="text/css" href="index.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../semantic/dist/semantic.min.css">
  <script src="../semantic/dist/semantic.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body>

  <div class="green segment text adjustable fixed block">
    <div class="ui large secondary inverted pointing menu">
      <a class="item" href="index.html">
        MerryMachine
      </a>
      <a class="item active" href="positive.html">
        Positive News
      </a>
      <div class="right menu">
        <a class="ui item" onclick="$('.ui.modal').modal('toggle');">
          About
        </a>
      </div>
    </div>
  </div>

  <div class="light segment text adjustable"></div>

  <div id="news" class="light segment text adjustable" style="margin-top: 50px;">
    <div v-if="sources.length == 0">No articles found</div>
    <div class="ui cards centered" v-for="source in sources">
      <p>{{source.source}}</p>
      <div class="ui card" v-for="article in source.articles">
        <div class="image">
          <img src="http://www.thenewatlantis.com/imgLib/20131213_NewYorkTimes_Logo.jpg">
        </div>
        <div class="content">
          <a href="https://www.nytimes.com/">Lorem Ipsum</a>
          <div class="meta">
            <span>New York Times</span>
          </div>
          <div class="description">
            Lorem ipsum dolor sit amet...
          </div>
        </div>
        <div class="extra content">
          <a>
            <i class="globe icon"></i>
            <a href="https://www.nytimes.com/">nytimes.com</a>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="ui modal">
    <i class="close icon"></i>
    <div class="header">
      About
    </div>
    <div class="text adjustable padded">
      MerryMachine is a news-filtering site that divides news articles from various sources into several different catagories: positive, negative, political, and neutral. Ofcourse, we don't have a human sift through all the articles; we have a machine do it! This allows for you to read the most up-to-date content from some of the top sources in the U.S. (and hopefully from other nations in upcoming updates).
    </div>
    <div class="text adjustable padded">
      Creators:
      Amar Maksumić & Hali Huang
    </div>
  </div>
</body>

<script src="semantic_modules.js"></script>
<script type="module" src="positive_injector.js"></script>

</html>